   
  
  


  
  .rbc-toolbar button {
    background-color: #1976D2;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    margin: 0 5px;
    width: fit-content;
  }
  
  .rbc-toolbar button:hover {
    background-color: #004ba0;
  }
  
  .rbc-calendar {
    border: 1px solid #ddd;
  }
  
  .rbc-month-row, .rbc-day-slot {
    border-bottom: 1px solid #f0f0f0;
  }
  